<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanvasSync</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        canvas {
            display: block;
            background: white;
        }
    </style>
</head>
<body>

<canvas id="whiteboard"></canvas>
<script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>
